@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');

.aboutHeader {
    text-align: center;
    background-color: #FCF8EC;
    width: 100%;
    height: 250px;
    align-content: center;
    padding: 65px;
}

.aboutHeader h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 70px;
    color : #025955;
    font-weight: bolder;
}

.aboutHeader h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    color : #025955;
}


.aboutSection { 
    width: 100%;
    color: #FCF8EC;
    background-color : #025955;
    display: grid;
    grid-template-columns: 23% 77%;
    grid-template-rows: 150px 500px 430px;
    grid-area: 
    'a1 s1'
    'a2 s2'
    'a3 s3'  ;
}

.aboutSection h4{
    text-align: right;
    font-size: 25px;
    font-weight: bold;
}

.aboutSection p {
    font-size: 17px;
}
.aboutSection div {
    margin: 0;
    padding: 20px;
}

.a1 {
    grid-area: 'a1';
}

.s1 {
    grid-area: 's1';
}

.a2 {
    grid-area: 'a2';
}

.s2 {
    grid-area: 's2';
}


.a3 {
    grid-area: 'a3';
}

.s3 {
    grid-area: 's3';
}

.aboutFooter {
    color: #025955;
    background-color : #FCF8EC;
    text-align: center;
    height: 500px;
}

.aboutFooter div {
    padding: 30px;
}

.f1 {
    font-size: 17px;
    height: 300px;
}

.f2 {
    font-size: 20px;
    font-weight: bold;
    height: 200px;
}



@media only screen and (max-width:1023px){

    .aboutHeader {
        height: 200px;
        padding: 45px;
    }

    .aboutHeader h1 {
        font-size: 60px;
    }
    
    .aboutHeader h3 {
        font-size: 25px;
    }
    
.aboutSection { 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.aboutSection h4{
    text-align: left;
    font-size: 25px;
}

.aboutSection p {
    font-size: 15px;
}
.aboutSection div {
    padding: 30px auto;
}

.aboutFooter {
    padding: 0;
    height: 430px;
}

.aboutFooter div {
    padding: 30px;
}

.f1 {
    font-size: 15px;
    height: 250px;
}

.f2 {
    font-size: 18px;
    height: 180px;
}

}

@media only screen and (max-width:767px){

    .aboutHeader {
        height: 150px;
        padding: 30px;
    }

    .aboutHeader h1 {
        font-size: 50px;
    }
    
    .aboutHeader h3 {
        font-size: 20px;
    }
    

.aboutSection h4{
    text-align: left;
    font-size: 25px;
}

.aboutSection p {
    font-size: 15px;
}
.aboutSection div {
    padding: 10px auto;
}

.aboutFooter {
    padding: 0;
    height: 420px;
}

.aboutFooter div {
    padding: 20px;
}
.f1 {
    font-size: 15px;
    height: 260px;
}

.f2 {
    font-size: 18px;
    height: 160px;
}


}

@media only screen and (max-width:480px){

    .aboutHeader {
        height: 100px;
        padding: 15px;
    }

    .aboutHeader h1 {
        font-size: 35px;
    }
    
    .aboutHeader h3 {
        font-size: 15px;
    }
    

.aboutSection h4{
    text-align: left;
    font-size: 20px;
}

.aboutSection p {
    font-size: 15px;
}
.aboutSection div {
    padding: 20px;
}

.aboutFooter {
    padding: 0;
    height: 350px;
}

.aboutFooter div {
    padding: 10px;
}
.f1 {
    font-size: 15px;
    height: 240px;
}

.f2 {
    font-size: 18px;
    height: 110px;
}

.aboutFooter p {
    margin-bottom: 3px;
}
}

