

.businessSection table, th, td {
    color: rgb(82, 82, 82);
    text-align: center;
}

.businessSection table {
    border: 2px solid rgb(222, 222, 222);
    width: 100%;
}

.businessSection th {
    width: 20%;
    height: 55px;
    border-bottom: 1px solid rgb(222, 222, 222);
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-size: 15px;
}

.businessSection td {
    width: 30%;
    height: 55px;
    border-bottom: 1px solid rgb(222, 222, 222);
    padding-left: 30px;
    text-align: left;
    font-weight: 500;
    font-size: 15px;
}


.businessFooter {
    width: 100%;
    height: 100%;
    padding: 20px;
    color: rgb(82, 82, 82);
    background-color: #EEEEEE;
}

.businessFooter p{
    font-size: 15px;
    font-weight: 500;

}

.businessFooter a {
    color: rgb(82, 82, 82);
    text-decoration: none;
}

.businessFooter a:hover {
    text-decoration: underline;
    color: #0c57c7;
}


@media only screen and (max-width:1023px){

    .businessFooter {
        padding: 15px;
    }

    .businessFooter p{
        font-size: 15px;
        font-weight: 500;
    }
}

@media only screen and (max-width:767px){

    .businessSection th {
        font-size: 14px;
    }
    
    .businessSection td {
        padding-left: 20px;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
    }

    .businessFooter {
        padding: 10px auto;
    }

    .businessFooter p{
        font-size: 13px;
        font-weight: 500;
    }
}


@media only screen and (max-width:480px){

    .businessSection th {
        font-size: 12px;
        height: 50px;
    }
    
    .businessSection td {
        padding-left: 10px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        height: 50px;
    }

    .businessFooter {
        padding: 10px auto;
    }

    .businessFooter p{
        font-size: 12px;
        font-weight: 500;
    }

}