@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');


.Main {
    min-width: 390px;
}

.bgV {
    min-width: 390px;
    padding: 0px;
    margin: 0px;
}

.backMovie {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}

.backMovie video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    z-index: 0
}

.vText2 {
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    top: 50%;
    width: 100%;
}

.vText2 .p1 {
    margin-top: -50px;
    text-align: center;
    font-size: 70px;
    color: white;
}

.vText2 .p2 {
    width: 450px;
    margin: 50px auto;
    border: 1px solid white;
    text-align: center;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.mainSection1 {
    text-align: left;
    background-color: #025955;
    width: 100%;
    height: 250px;
    text-align: center;
    align-content: center;
    padding: 70px;
}

.mainSection1 h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 70px;
    color : #FCF8EC;
    font-weight: bolder;
}

.mainSection1 h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    color : #FCF8EC;
}

.mainSection3 {
    text-align: left;
    background-color: #433520;
    width: 100%;
    height: 250px;
    align-content: center;
    text-align: center;
    padding: 70px;
}

.mainSection3 h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 60px;
    color : #FCF8EC;
    font-weight: bolder;
}

.mainSection3 h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 30px;
    color : #FCF8EC;
}


@media only screen and (max-width:1023px){

    .bgV {
        width: auto;
    }
    
    .backMovie {
        height: 60vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
    }

    .vText2 .p1 {
        margin-top: -150px;
        text-align: center;
        font-size: 50px;
    }
    
    .vText2 .p2 {
        width: 330px;
        margin: 40px auto;
        font-size: 30px;
    }


.mainSection1 {
    height: 200px;
    padding: 50px;
}

.mainSection1 h1 {
    font-size: 50px;
}

.mainSection1 h3 {
    font-size: 25px;
}

.mainSection3 {
    height: 200px;
    padding: 50px;
}

.mainSection3 h1 {
    font-size: 50px;
}

.mainSection3 h3 {
    font-size: 25px;
}

}


@media only screen and (max-width:767px){

    .backMovie {
        height: 40vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
    }

    .vText2 .p1 {
        margin-top: -230px;
        font-size: 40px;
    }
    
    .vText2 .p2 {
        width: 250px;
        margin: 20px auto;
        font-size: 20px;
    }


.mainSection1 {
    height: 100px;
    padding: 20px;
}

.mainSection1 h1 {
    font-size: 25px;
}

.mainSection1 h3 {
    font-size: 15px;
}

.mainSection3 {
    height: 100px;
    padding: 20px;
}

.mainSection3 h1 {
    font-size: 25px;
}

.mainSection3 h3 {
    font-size: 15px;
}

}


@media only screen and (max-width:480px){


    .backMovie {
        height: 20vh;
        overflow: hidden;
        margin: 0px auto;
        position: relative;
    }

    .vText2 .p1 {
        margin-top: -290px;
        font-size: 23px;
    }
    
    .vText2 .p2 {
        width: 120px;
        margin: -10px auto;
        font-size: 8px;
    }


.mainSection1 {
    height: 80px;
    padding: 15px;
}

.mainSection1 h1 {
    font-size: 20px;
}

.mainSection1 h3 {
    font-size: 12px;
}

.mainSection3 {
    height: 80px;
    padding: 15px;
}

.mainSection3 h1 {
    font-size: 20px;
}

.mainSection3 h3 {
    font-size: 12px;
}

}
