@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');


.NotFound {
    margin: 0px;
    padding: 40px;
    width: 100%;
    height: 100vh;
    background-color: #FCF8EC;
    text-align: center;
}

.NotFound h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 250px;
    color : #433520;
}

.NotFound h2 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 150px;
    color : #433520;
}

.NotFound p {
    font-family: 'Sunflower', sans-serif;
    font-size: 70px;
    color : #433520;
}


@media only screen and (max-width:1023px){

    .NotFound {
        margin: 0px;
        padding: 100px 20px;
    }
    
    .NotFound h1 {
        font-size: 150px;
    }
    
    .NotFound h2 {
        font-size: 100px;
    }
    
    .NotFound p {
        font-size: 50px;
    }
}

@media only screen and (max-width:767px){

    .NotFound {
        padding: 100px 20px;
    }
    
    .NotFound h1 {
        font-size: 100px;
    }
    
    .NotFound h2 {
        font-size: 80px;
    }
    
    .NotFound p {
        font-size: 30px;
    }
}


@media only screen and (max-width:480px){

    .NotFound {
        padding: 100px 20px;
    }
    
    .NotFound h1 {
        font-size: 80px;
    }
    
    .NotFound h2 {
        font-size: 70px;
    }
    
    .NotFound p {
        font-size: 25px;
    }
}