@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');

.shop {
    min-width: 390px;
}

.shopHeader {
    text-align: left;
    background-color: #433520;
    width: 100%;
    height: 200px;
    align-content: center;
    padding: 50px;
}

.shopHeader h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
    color : #FCF8EC;
}

.shopHeader h5 {
    font-family: 'Sunflower', sans-serif;
    font-size: 30px;
    color : #FCF8EC;
}

.shopSection{
    margin-bottom: 30px;
}

.shopCard {
    margin: 20px 0 10px 0;    
}

.shopContainer{
}

.buttons {
    text-align: center;
}

.button {
    margin: 30px;
    display: inline-block;
}


.shopItemDetail .detailTitle{
    font-family: 'Jua', sans-serif;
}



@media only screen and (max-width:1023px){

    .shopHeader {
        height: 150px;
        padding: 30px;
    }
    
    .shopHeader h3 {
        font-size: 40px;
    }
    
    .shopHeader h5 {
        font-size: 25px;
    }
    
    .shopSection{
        margin-bottom: 20px;
    }
    
    .button {
        margin: 30px;
        display: inline-block;
    }

}


@media only screen and (max-width:767px){

    .shopHeader {
        height: 100px;
        padding: 15px;
    }
    
    .shopHeader h3 {
        font-size: 30px;
    }
    
    .shopHeader h5 {
        font-size: 20px;
    }
    
    .shopSection{
        margin-bottom: 20px;
    }
    

}


@media only screen and (max-width:480px){

    .shopHeader {
        height: 80px;
        padding: 15px;
    }
    
    .shopHeader h3 {
        font-size: 20px;
    }
    
    .shopHeader h5 {
        font-size: 16px;
    }
    
}