@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');

.toU{
    min-width: 390px;
    background-color: #FCF8EC;
}

.toUnavbar {
    width: 65%;
}

.navContainer {
    display: flex;
    flex-wrap: wrap;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
}

.navBrand {
    font-size: 60px;
    cursor: pointer;
}

.toUnav {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 50px;
}

.toUnav .toUname {
    font-family: 'Sunflower', sans-serif;
    font-size: 27px;
    width: 35%;
    text-align: center;
    box-sizing: border-box;
}

.ToUfooter {
    color: #FDE8CD;
    background-color : #433520;
    clear:both;
    height: 250px;
    margin:0px;
    padding: 10px;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-items: center;
}

.infoContainer div {
    margin-top: 10px;
    box-sizing: border-box;
}

.Info {
    margin: 0;
}

.Info h1 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
    text-align: left;
}

.Info h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    text-align: left;
}

.Info span{
    margin-right: 1em;
    display: block;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.Info p {
    font-size: 12px;
}

.infoP {
    opacity: 0.7;
}

.Info a {
    font-size: 12px;
    color: #FDE8CD;
    text-decoration: underline;
}
.Info a:hover {
    color: #FDE8CD;
}


.Clause, .Policy {
    background-color:rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    z-index: 10;
    justify-content: center;
}

.ClauseBody, .PolicyBody {
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    width: 60%;
}

.ClauseButton, .PolicyButton {
    float: right;
}



@media only screen and (max-width:1023px){

    .toUnav .navBrand {
        font-size: 40px;
    }

    .toUnav {
        font-size: 30px;
    }
    
    .toUnav .toUname {
        font-size: 17px;
    }
    

    .ToUfooter {
        height: 250px;
        margin: 0 auto;
        padding: 0;
    }
    
    .infoContainer {
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        justify-items: center;
    }
    
    .infoContainer div {
        margin: 0 auto;
        padding: 10px;
    }

    .info {
        margin: 0 auto;
    }
    
    .Info h1 {
        font-size: 25px;
    }
    
    .Info h3 {
        font-size: 15px;
    }

    .Info p {
        font-size: 8px;
    }
}


@media only screen and (max-width:767px){

    .toUnavbar {
        width: 70%;
    }

    .toUnav .navBrand {
        font-size: 25px;
    }

    .toUnav {
        font-size: 20px;
    }
    
    .toUnav .toUname {
        width: 30%;
        font-size: 10px;
    }
    

    .ToUfooter {
        height: 340px;
        margin: 0 auto;
        padding: 0;
    }
    
    .infoContainer {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 90px 60px 50px;
        align-items: start;
        justify-items: center;
        padding: 25px;
        height: 100%;
    }
    
    .infoContainer div {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .info {
        margin: 0;
        padding: 0;
    }
    
    .Info h1 {
        margin: 0;
        font-size: 25px;
        text-align: left;
    }
    
    .Info h3 {
        font-size: 15px;
        text-align: left;
    }
    

    .Info span{
        margin-right: 1em;
        font-size: 8px;
        display: inline-block;
        margin-block-start: 0.1em;
        margin-block-end: 0.1em;
    }

    .Info p {
        margin-bottom: 5px;
        font-size: 8px;
    }
    
    .Info a {
        font-size: 8px;
    }


}


@media only screen and (max-width:480px){


    .toUnavbar {
        width: 85%;
    }

    .toUnav .navBrand {
        font-size: 25px;
    }

    .toUnav {
        font-size: 15px;
    }
    
    .toUnav .toUname {
        width: 15%;
        margin-right: 10px;
        font-size: 10dpx;
    }
    

    .ToUfooter {
        height: 310px;
        margin: 0 auto;
        padding: 0;
    }
    
    .infoContainer {
        grid-template-rows: 90px 100px 50px 50px;
        align-items: start;
        justify-items: center;
        padding: 20px;
        height: 100%;
    }
    
    .infoContainer div {
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .info {
        margin: 0;
        padding: 0;
    }
    
    .Info h1 {
        margin: 0;
        font-size: 15px;
        text-align: left;
    }
    
    .Info h3 {
        font-size: 10px;
        text-align: left;
    }
    
    .Info span{
        margin-right: 1em;
        font-size: 8px;
        display: inline-block;
        margin-block-start: 0.1em;
        margin-block-end: 0.1em;
    }

    .Info p {
        margin-bottom: 2px;
        font-size: 8px;
    }
    
    .Info a {
        font-size: 8px;
    }
}
