@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Jua&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');

.toU{
    background-color: #FCF8EC;
}

.Clause, .Policy {
    background-color:rgba(0,0,0,0.8);
    color: white;
    position: absolute;
    z-index: 10;
    justify-content: center;
}

.ClauseBody, .PolicyBody {
    margin-left: 20%;
    margin-right: 20%;
    padding: 50px;
    width: 60%;
}

.ClauseButton, .PolicyButton {
    float: right;
}


.navContainer {
    display: flex;
    flex-wrap: wrap;
}

.navBrand {
    cursor: pointer;
}

.toUnav {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
}

.toUnav .toUname {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    width: 30%;
    box-sizing: border-box;
}

.banner {
    background-image: url('http://127.0.0.1:8898/images/dream.jpeg');
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}

.ToUfooter {
    color: #FDE8CD;
    background-color : #433520;
    clear:both;
    height: 300px;
    padding: 10px;
}

.infoContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    justify-items: center;
}

.infoContainer div {
    margin-top: 10px;
    box-sizing: border-box;
}

.info {
    margin: 0;
}

.Info h1 {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
}

.Info h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    text-align: center;
}

.Info P {
    font-size: 12px;
    text-align: left;
}

.Info a {
    font-size: 12px;
    color: #FDE8CD;
    text-decoration: underline;
}
.Info a:hover {
    color: #FDE8CD;
}