@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');


.App{
  
  
}

.bgV {
  padding: 0px;
  margin: 0px;
}

.backMovie {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

.backMovie video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    z-index: -1
}

.vText {
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  top: 50%;
  width: 100%
}

.vText p {
    margin-top: -150px;
    text-align: center;
    font-size: 60px;
    color: white;
}


.loginBox {
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  margin: 0px, auto;
  margin-top: -370px;
  margin-left: 40%;
  width: 300px;
  height: 200px;
  }

  .joinBox {
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    margin: 0px, auto;
    margin-top: -400px;
    margin-left: 40%;
    width: 300px;
    height: 200px;
    }


  .navContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .toUnav {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 40px;
  }
  .toUnav .toUname {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    width: 30%;
    box-sizing: border-box;
  }

  .banner {
    background-image: url('../src/image/dream.jpeg');
    height: 500px;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
  }

.ToUfooter {
  color: #FDE8CD;
  background-color : #433520;
  clear:both;
  height: 300px;
  padding: 10px;
}

.infoContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  justify-items: center;
  
}

.infoContainer div {
  margin-top: 10px;
  box-sizing: border-box;
}

.info {
  margin: 0;
}

.Info h1 {
  font-family: 'Black Han Sans', sans-serif;
  text-align: center;
}

.Info h3 {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 20px;
  text-align: center;
}

.Info P {
  font-size: 12px;
  text-align: left;
}

.Info a {
  font-size: 12px;
  color: #FDE8CD;
  text-decoration: underline;
}
.Info a:hover {
  color: #FDE8CD;
}