@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');


.App{
  
  
}

.bgV {
  padding: 0px;
  margin: 0px;
}

.backMovie {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  cursor: pointer;
}

.backMovie video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    z-index: -1
}

.vText {
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  top: 50%;
  width: 100%;
  cursor: pointer;
}

.vText p {
    margin-top: -150px;
    text-align: center;
    font-size: 90px;
    color: white;
}

.vText div {
  margin-top: 60px;
  text-align: center;
  font-size: 60px;
  color: white;
}


.loginBox {
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  margin-top: -500px;
  margin-left: 38%;
  width: 300px;
  height: 200px;
  }

  .joinBox {
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    margin: 0px, auto;
    margin-top: -500px;
    margin-left: 38%;
    width: 300px;
    height: 200px;
    }



