@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Nanum+Gothic&family=Nanum+Gothic+Coding&family=Sunflower&display=swap');

.App{
  min-width: 390px;
}

.homeV {
  padding: 0px;
  margin: 0px;
}

.homeMovie {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
}

.homeMovie video {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    z-index: 0
}

.vText {
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  top: 50%;
  width: 100%;
  cursor: pointer;
}

.vText p {
    margin-top: -100px;
    text-align: center;
    font-size: 90px;
    color: white;
}

.vText div {
  margin-top: 10px;
  text-align: center;
  font-size: 70px;
  color: white;
}



.loginBox {
  font-family: 'Black Han Sans', sans-serif;
  position: absolute;
  margin-top: -500px;
  margin-left: 38%;
  width: 300px;
  height: 200px;
  }

  .joinBox {
    font-family: 'Black Han Sans', sans-serif;
    position: absolute;
    margin-top: -500px;
    margin-left: 38%;
    width: 300px;
    height: 200px;
    }




@media only screen and (max-width:1023px){

.vText p {
  text-align: center;
  font-size: 65px;
  color: white;
}

.vText div {
text-align: center;
font-size: 45px;
color: white;
}


.loginBox {
  margin-top: -500px;
  margin-left: 30%;
  width: 300px;
  height: 200px;
  }


  .joinBox {
    margin-top: -500px;
    margin-left: 30%;
    width: 300px;
    height: 200px;
    }


}


@media only screen and (max-width:767px){


.vText p {
  text-align: center;
  font-size: 50px;
  color: white;
}

.vText div {
text-align: center;
font-size: 30px;
color: white;
}

.loginBox {
  margin-top: -500px;
  margin-left: 20%;
  width: 300px;
  height: 200px;
  }


  .joinBox {
    margin-top: -500px;
    margin-left: 20%;
    width: 300px;
    height: 200px;
    }

}


@media only screen and (max-width:480px){
  

.vText p {
  text-align: center;
  font-size: 40px;
  color: white;
}

.vText div {
text-align: center;
font-size: 25px;
color: white;
}

.loginBox {
  margin-top: -550px;
  margin-left: 10%;
  width: 300px;
  height: 200px;
  }


  .joinBox {
    margin-top: -550px;
    margin-left: 10%;
    width: 300px;
    height: 200px;
    }
}

